page-home {
    // .front, .back {
    //   background-color: black !important;
    // }

    .aligner{
      background-color:#ffff;
    }

  
    
    ion-content{
      ion-grid {
        ion-row {
          ion-col {
            width: 20vw;
          }
        }
      }
      .button-inner{
        width:150px;
        color:white;
     
      }
     
        
      .company-logo-center{
        position: absolute;
        width: 25%;
        left: 200px;
        top: 24px;
        

      }
      .company-header{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
        margin-bottom: 5vh;
      }

      .container-ion-grid {
        width: 100%;
      }
      .categoryName{
        font-size:25px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

        
      }
      
      


  }

}
