<ion-header no-border ></ion-header>
 <ion-content padding class="aligner">
   <button ion-button class="go-back-button" (click)="refreshPage()">New Game</button>
    <div class="company-logo-container" >
        <div>
          <img class= "company-header" src="./assets/imgs/transparent_jeopardy.png"/>
        </div>
        <p class="right-triangle"></p>
    </div>

      <ion-grid>
        <ion-row >
          <ion-col *ngFor="let category of categories; let i = index">
            <div class="categoryName" [style.color]="colors[i]" style="text-align: center">
              {{category}}
            </div>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let price of prices; let priceIndex = index">
            <ion-col *ngFor="let category of categories; let catIndex = index">
                <flash-card [catIndex]="catIndex" class="flash-card" (click)="goToModal(shuffledPrompts[catIndex][priceIndex])">
                  <div class="flash-card-front">
                    {{price}}
                  </div>
                  <div class="flash-card-back" style="text-align: center">
                    <!-- <div *ngIf="shuffledPrompts.length > 0">
                      {{shuffledPrompts[catIndex][priceIndex].answer}}
                    </div> -->
                    <img src="assets/imgs/SEAL_Logo_color.jpg" style="height: 8vh; width: 100%; object-fit: contain">
                  </div>             
                </flash-card>
            </ion-col>
          </ion-row>
        </ion-grid>



 
</ion-content>
