question-modal {
    .noScroll .scroll-content{
        overflow: hidden;
   }
   .noScroll{
    border-radius: 20px;
   }
   .content-md{
    color:black;
    font-size:30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;

    
    
   }
}