<ion-header>

</ion-header>

<ion-content class="noScroll">
    <div class="img-container">
            <img [class]="answer_class" [src]="imgSrc" *ngIf="doesPromptContainImage && !answered">
    </div>
    <p [class]="answer_class" *ngIf="!answered && !doesPromptContainImage">{{prompt.answer}}</p>
    <p [class]="question_class" *ngIf="answered">{{prompt.question}} </p>
    <!-- <p>{{prompt.question}}</p> -->
    <button ion-button class="join-action-button" (click)="toggleExit()" *ngIf="!answered">
            <ion-icon color="secondary" name="arrow-round-forward"></ion-icon>
    </button>
</ion-content>