<div class="flip-container" (click)="flip()" [class.flipped]="flipped">
    <div class="flipper">
 
        <div class="front"  [style.box-shadow]="shadow" [style.color]="colors[catIndex]">
            <ng-content select=".flash-card-front">
            </ng-content>
            <!-- <button                   ion-button clear class="front-button">Yo  vuivjvkbjbkbvh,h j</button> -->
        </div>
 
        <div class="back">
            <ng-content select=".flash-card-back">
            </ng-content>
        </div>
 
    </div>
 
</div>